/^Received:.*with ESMTPSA/      REPLACE "Check-One: One"
/^X-Originating-IP:/            REPLACE "Check-Two: Two"
/^X-Mailer:/                    REPLACE "Check-Three: Three"
/^Mime-Version:/                REPLACE "Check-Four: Four"
/^User-Agent:/                  REPLACE "Check-Five: Five"
/^Received:/                    REPLACE "Check-Six: Six"