{{ postfix_domain }}    {{ sasl_user }}:{{ sasl_password }}
{% if postfix_other_sasl_user is defined %}{{ postfix_domain }}    {{ postfix_other_sasl_user }}:{{ postfix_other_sasl_password }}{% endif %}